{"openapi":"3.1.0","info":{"title":"AntiPublic.One API","description":"Official API documentation for AntiPublic MYRZ.\n\nLinks:\n+ Download [AntiPublic](https://antipublic.one/dl/AntiPublic.zip).\n+ AntiPublic [Management](https://lolz.live/account/antipublic).","version":"1.0.9"},"servers":[{"url":"https://antipublic.one/api/v2"}],"paths":{"/countLines":{"get":{"tags":["Info"],"summary":"Count Lines","description":"Get count of rows in the AntiPublic db.","operationId":"Public.CountLines","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"}},"x-readme-ref-name":"CountLines"}}}}}}},"/countLinesPlain":{"get":{"tags":["Info"],"summary":"Count Lines Plain","description":"Get count of rows in the AntiPublic db (raw format).","operationId":"Public.CountLinesPlain","responses":{"200":{"description":"Successful response","content":{"text/plain":{"schema":{"type":"string","x-readme-ref-name":"CountLinesPlain"}}}}}}},"/version":{"get":{"tags":["Info"],"summary":"Check Updates","description":"Get current version etc.","operationId":"Public.Version","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string","default":"AntiPublic.exe"},"version":{"type":"string"},"changeLog":{"type":"string"},"url":{"type":"string"}},"x-readme-ref-name":"Version"}}}}}}},"/checkAccess":{"get":{"tags":["Account"],"summary":"Check Access","description":"Checks your license.","operationId":"License.CheckLicense","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"plus":{"type":"boolean"},"trial":{"type":"boolean","default":false},"plus_expires":{"type":"string","default":"0"},"trial_expires":{"type":"string","default":"0"}},"x-readme-ref-name":"CheckAccess"}}}},"403":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Некорректный ключ"}},"x-readme-ref-name":"IncorrectKey"}}}}},"security":[{"AntiPublic":[]}]}},"/availableQueries":{"get":{"tags":["Account"],"summary":"Get Available Queries","description":"Get your available queries.","operationId":"License.AvailableQueries","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"emailSearch":{"type":"integer"},"passwordSearch":{"type":"integer"}},"x-readme-ref-name":"AvailableQueries"}}}},"403":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Некорректный ключ"}},"x-readme-ref-name":"IncorrectKey"}}}}},"security":[{"AntiPublic":[]}]}},"/checkLines":{"post":{"tags":["Check"],"summary":"Check Lines","description":"Check your lines. Maximum 1000 lines per request.","operationId":"License.CheckLines","requestBody":{"content":{"application/json":{"schema":{"required":["lines"],"properties":{"insert":{"description":"Upload private rows to AntiPublic db.","title":"Insert","type":"boolean"},"lines":{"description":"Lines for check, email:password.","title":"Lines","type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true},"result":{"type":"array","items":{"type":"object","properties":{"is_private":{"type":"boolean","default":false},"line":{"type":"string","default":"example@gmail.com:password"}},"x-readme-ref-name":"LineResult"}}},"x-readme-ref-name":"CheckLines"}}}},"403":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Некорректный ключ"}},"x-readme-ref-name":"IncorrectKey"}}}}},"security":[{"AntiPublic":[]}]}},"/search":{"post":{"tags":["Search"],"summary":"Search","description":"Search lines by email/password/domain.","operationId":"License.Search","requestBody":{"content":{"application/json":{"schema":{"title":"Search by email","required":["searchBy","query"],"properties":{"searchBy":{"description":"Search type.\nSearch Priority:\n- **searchBy: email** - `email`, then `password`.\n- **searchBy: password** - `password`, then `email`.\n- **searchBy: domain** - `domain`, then `email`, then `password`.","title":"Search type.","type":"string","default":"email","enum":["email","password","domain"]},"query":{"description":"Search query.","title":"Search query.","type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"},"domain":{"type":"string"}}},"direction":{"description":"Search direction.","title":"Search direction.","type":"object","properties":{"email":{"type":"string","enum":["start","strict"]},"password":{"type":"string","enum":["start","strict"]},"domain":{"type":"string","enum":["start","strict","end"]}}},"pageToken":{"type":"string","title":"Page token","description":"Page token."}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"title":"Success","type":"boolean"},"availableQueries":{"title":"Available queries","type":"integer"},"resultCount":{"title":"Result count","type":"integer"},"results":{"title":"Results","type":"array","items":{"type":"string"}},"page":{"title":"Page","type":"object","properties":{"totalResults":{"title":"Total results","type":"integer"},"pageNumber":{"title":"Page number","type":"integer"},"nextPageToken":{"title":"Next page token","type":"string"}},"required":["totalResults","pageNumber","nextPageToken"]}},"required":["success","availableQueries","resultCount","results","page"],"x-readme-ref-name":"EmailSearch"}}}},"403":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Отсутствует доступ"}},"x-readme-ref-name":"NoAccess"}}}}},"security":[{"AntiPublic":[]}]}},"/emailPasswords":{"post":{"tags":["Search"],"summary":"Email Passwords","description":"Get passwords for emails. AntiPublic Plus subscription required.","operationId":"LicensePlus.EmailPasswords","requestBody":{"content":{"application/json":{"schema":{"required":["emails"],"properties":{"emails":{"description":"Emails for search.","title":"Emails","type":"array","items":{"type":"string"}},"limit":{"description":"Result limit (per email).","title":"Limit","type":"integer","maximum":1000}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"title":"Success","type":"boolean"},"availableQueries":{"title":"Available queries","type":"integer"},"resultCount":{"title":"Result count","type":"integer"},"results":{"title":"Results","type":"array","items":{"type":"string"}},"page":{"title":"Page","type":"object","properties":{"totalResults":{"title":"Total results","type":"integer"},"pageNumber":{"title":"Page number","type":"integer"},"nextPageToken":{"title":"Next page token","type":"string"}},"required":["totalResults","pageNumber","nextPageToken"]}},"required":["success","availableQueries","resultCount","results","page"],"x-readme-ref-name":"EmailSearch"}}}},"403":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Отсутствует доступ"}},"x-readme-ref-name":"NoAccess"}}}}},"security":[{"AntiPublic":[]}]}}},"components":{"schemas":{"CountLines":{"type":"object","properties":{"count":{"type":"integer"}},"x-readme-ref-name":"CountLines"},"CountLinesPlain":{"type":"string","x-readme-ref-name":"CountLinesPlain"},"Version":{"type":"object","properties":{"filename":{"type":"string","default":"AntiPublic.exe"},"version":{"type":"string"},"changeLog":{"type":"string"},"url":{"type":"string"}},"x-readme-ref-name":"Version"},"CheckAccess":{"type":"object","properties":{"success":{"type":"boolean"},"plus":{"type":"boolean"},"trial":{"type":"boolean","default":false},"plus_expires":{"type":"string","default":"0"},"trial_expires":{"type":"string","default":"0"}},"x-readme-ref-name":"CheckAccess"},"IncorrectKey":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Некорректный ключ"}},"x-readme-ref-name":"IncorrectKey"},"AvailableQueries":{"type":"object","properties":{"success":{"type":"boolean"},"emailSearch":{"type":"integer"},"passwordSearch":{"type":"integer"}},"x-readme-ref-name":"AvailableQueries"},"NoAccess":{"type":"object","properties":{"success":{"type":"boolean","default":false},"error":{"type":"string","default":"Отсутствует доступ"}},"x-readme-ref-name":"NoAccess"},"CheckLines":{"type":"object","properties":{"success":{"type":"boolean","default":true},"result":{"type":"array","items":{"type":"object","properties":{"is_private":{"type":"boolean","default":false},"line":{"type":"string","default":"example@gmail.com:password"}},"x-readme-ref-name":"LineResult"}}},"x-readme-ref-name":"CheckLines"},"LineResult":{"type":"object","properties":{"is_private":{"type":"boolean","default":false},"line":{"type":"string","default":"example@gmail.com:password"}},"x-readme-ref-name":"LineResult"},"EmailSearch":{"type":"object","properties":{"success":{"title":"Success","type":"boolean"},"availableQueries":{"title":"Available queries","type":"integer"},"resultCount":{"title":"Result count","type":"integer"},"results":{"title":"Results","type":"array","items":{"type":"string"}},"page":{"title":"Page","type":"object","properties":{"totalResults":{"title":"Total results","type":"integer"},"pageNumber":{"title":"Page number","type":"integer"},"nextPageToken":{"title":"Next page token","type":"string"}},"required":["totalResults","pageNumber","nextPageToken"]}},"required":["success","availableQueries","resultCount","results","page"],"x-readme-ref-name":"EmailSearch"}},"securitySchemes":{"AntiPublic":{"type":"apiKey","name":"key","in":"query"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}